.genre-page {
  padding: 20px;
  color: #fff;
}

.genre-title {
  font-size: 30px;
  margin-top: 50px;
}

/* FULL GRID */
.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

/* Movie Card */
.movie-card {
  background: #1a1a1a;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: 260px;
  border-radius: 8px;
  object-fit: cover;
}
