/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-cont {
  position: relative;
  height: 100vh;
  background-image: url('https://m.media-amazon.com/images/I/91armhHyTML.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-cont::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 0;
}

/* Header */
.top-bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 120px;
  position: relative;
  z-index: 1;
}

.nets {
  color: red;
  font-size: 43px;
  letter-spacing: 2px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
               'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#lang {
  padding: 8px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  margin-right: 20px;
}

#lang option {
  background: black;
  color: white;
}

.signin {
  background-color: red;
  padding: 8px 16px;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
  background-color: #e50914;
}

/* Center Section */
.cont {
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
  margin-bottom: 250px;
}

.cont h2 {
  font-size: 50px;
  line-height: 1.3;
  font-weight: 700;
}

.pay {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0 10px;
  margin-bottom: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
}

.mem {
  font-size: 18px;
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-boxs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: -100px;
}

.email {
  width: 350px;
  padding: 16px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 16px;
  outline: none;
}

.email::placeholder {
  color: #b3b3b3;
}

.get-btn {
  background-color: red;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.get-btn:hover {
  background-color: #e50914;
}
