.movie-card {
  background: #0f0f0f; /* Pure black card */
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
  border: 1px solid #222; /* subtle border */
  margin-top: 50px;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card h4,
.movie-card p {
  color: #ffffff; /* white text */
}

.movie-card img {
  width: 100%;
  height: 260px;
  border-radius: 8px;
  object-fit: cover;
}
.movies-page {
  padding: 20px;
  color: #fff;
  background: #2b2b2b; /* Dark gray */
  min-height: 100vh;
  margin-top: 70px;
}
.no-results {
  color: #aaa;
  font-size: 18px;
  margin-top: 20px;
}
